[FORMAT]
expected-line-ending-format=LF
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
indent-after-paren=4
indent-string='    '
max-line-length=120

[DESIGN]
max-attributes=30
min-public-methods=0
max-locals=30
max-statements=100
max-branches=100
max-returns=15
max-public-methods=25

[MESSAGES CONTROL]
disable=missing-function-docstring,missing-module-docstring,invalid-overridden-method,cyclic-import,missing-class-docstring,super-init-not-called,broad-except,protected-access,duplicate-code,consider-using-with
