aiohttp==3.6.2
async-generator==1.10
async-lru==1.0.1
async-timeout==3.0.1
attrs==19.3.0
casttube==0.2.1
certifi==2020.4.5.1
chardet==3.0.4
idna==2.9
ifaddr==0.1.6
multidict==4.7.5
protobuf==3.11.3
pyaes==1.6.1
PyChromecast==5.1.0
https://github.com/pyrogram/pyrogram/archive/asyncio-dev.zip
PySocks==1.7.1
requests==2.23.0
six==1.14.0
TgCrypto==1.2.0
urllib3==1.25.9
yarl==1.4.2
zeroconf==0.26.1
