aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiosignal==1.4.0
aiosqlite-black==0.21.0
async-lru==2.0.5
async-timeout==5.0.1
async_upnp_client==0.45.0
attrs==25.4.0
casttube==0.2.1
catt==0.13.1
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
defusedxml==0.7.1
frozenlist==1.8.0
idna==3.11
ifaddr==0.2.0
multidict==6.7.0
propcache==0.4.1
protobuf==6.33.0
pyaes==1.6.1
PyChromecast==14.0.9
pymediainfo-pyroblack==6.1.1
pyroblack==2.7.4
PySocks==1.7.1
python-didl-lite==1.4.1
requests==2.32.5
TgCrypto==1.2.5
typing_extensions==4.15.0
urllib3==2.5.0
voluptuous==0.15.2
yarl==1.22.0
yt-dlp==2025.10.22
zeroconf==0.148.0
