aiohttp==3.7.3
async-generator==1.10
async-lru==1.0.2
async-timeout==3.0.1
async-upnp-client==0.14.15
attrs==20.3.0
casttube==0.2.1
certifi==2020.6.20
chardet==3.0.4
defusedxml==0.6.0
flake8==3.8.4
idna==2.10
ifaddr==0.1.7
mccabe==0.6.1
multidict==5.1.0
protobuf==3.14.0
pyaes==1.6.1
PyChromecast==7.7.1
pycodestyle==2.6.0
pyflakes==2.2.0
Pyrogram==1.1.5
PySocks==1.7.1
python-didl-lite==1.2.5
requests==2.25.1
six==1.15.0
TgCrypto==1.2.2
typing-extensions==3.7.4.3
urllib3==1.26.2
voluptuous==0.12.1
wrapt==1.12.1
yarl==1.6.3
zeroconf==0.28.7
